# Dossiers
.assets/
.barcode/
.cache/
.chainlit/
.dist/
.docs/
.downloads/
.dotnet/
.env/
.local/
.mlruns/
.projet_capsum/
.results/
.runs/
.ssh/
.src/input_folder/
.src/old_not_used_code/
.src/vector_stores/
.temp/
.test_docs/
.test_factures/
.uv_env/
.vscode-server/
__pycache__/

aux_data
checkpoints
data
generated_images
google_json_keys
logging
subprojects

# Fichiers
annotated_test.jpg
cookies.pkl
evaluation_results.csv
evaluation_results_reduced.csv
execution_time.log
feedback.json
histogram_word_count.png
info.yaml
knowledge_graph.png
query_database.log
rag_answer.log
README_v2.md
src/RAFT_dataset.json
src/evaluation_results.csv
src/evaluation_results_reduced.csv
src/good_chunks.py
src/knowledge_graph.png
src/test/test.ipynb
src/tests.ipynb
test.m4a
transcript_creator.py
vector_store_building.log
video_urls.csv

# Fichiers de configuration
.env
.gnupg
.git
.gitconfig

# Extensions de fichiers
*.c
*.jpg
*.log
*.mp3
*.mp4
*.pkl
*.png
*.pyd
*.so
*.srt
*.wav

# Build et compilation
__pycache__/
build/
dist/
*.pyc