# Dossiers
__pycache__/
data/
data_attic/
assets/
src/old_not_used_code/
src/input_folder/
src/vector_stores/
.cache/
.env/
.local/
.dotnet/
.ssh/
.vscode-server/
.chainlit/
data_attic/
temp/
docs/
data_test/
mlruns/
checkpoints/
test_docs/
runs/
test_factures/
projet_capsum/
results/
generated_images/
barcode/
downloads/
uv_env/
aux_data/

# Fichiers
cookies.pkl
info.yaml
histogram_word_count.png
knowledge_graph.png
feedback.json
src/RAFT_dataset.json
src/good_chunks.py
src/evaluation_results.csv
src/evaluation_results_reduced.csv
src/tests.ipynb
src/test/test.ipynb
src/knowledge_graph.png
evaluation_results.csv
evaluation_results_reduced.csv
execution_time.log
test.m4a
rag_answer.log
execution_time.log
query_database.log
annotated_test.jpg
video_urls.csv
transcript_creator.py
README_v2.md
vector_store_building.log

# Fichiers de configuration
.gitconfig/
.env/
.gnupg/
.git/
.gitconfig

# Extensions de fichiers
*.pkl
*.wav
*.png
*.jpg
*.mp3
*.log

.env
transcript_creator.py
video_urls.csv
README_v2.md
README_v2.md

# Automatically ignore .mp4, .jpg, .png, and .log files
*.mp4
*.jpg
*.png
*.log
*.srt

# Build et compilation
build/
dist/
*.c
*.so
*.pyd
__pycache__/
*.pyc